<div class="issue-heading">
  <div class="container">
      <%= @issue.title %>
      <%= link_to 'Delete', issue_path(@issue), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
      <%= link_to 'Edit', edit_issue_path(@issue), class: "btn btn-primary" %>
  </div>
</div>
<div class="container">
  <div class="replies">
    <article class="reply clearfix">
      <div class="avatar">
        <img src="http://images.clipartpanda.com/head-clipart-fair-red-head-man-md.png?s=512&amp;d=retr" alt="" class="image-circle">
      </div>
      <div class="body">
        <div class="heading">
          <h5 class="name"><a href="#">happypeter</a></h5>
        </div>
        <%= @issue.content %>
      </div>
    </article>
  </div>
</div>